main {
    padding-top: 100px;
}

.container {
    width: 1140px;
    margin: 0 auto;

}

.products {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-item {
    border: 1px solid black;
    width: 200px;
    height: 300px;
    text-align: center;
}

.product-item img {
    width: 200px;
}

.buy-btn {
    margin-top: 20px;
    border-radius: 10px;

}

.buy-btn:hover {
    background-color: red;
    cursor: pointer
}

.btn-cart {
    margin-top: 50px;
    border-radius: 5px;
    cursor: pointer;

}

.btn-cart:hover {
    background-color: red;
    cursor: pointer
}